.data {
  padding-bottom: 16px;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  .alcoholic {
    display: flex;
    justify-content: space-around;
  }
  .cart-button {
    display: flex;
    justify-content: space-around;
  }
  .cardButton {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    z-index: 2;
    position: relative;
    margin-block: 16px;
    color: white;
    width: 40%;
    height: 25px;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: #161723;
      border-radius: inherit;
    }
    &::before {
      content: "";
      position: absolute;
      inset: -0.1rem;
      z-index: -1;
      background: linear-gradient(#d4ff00, #7dffe0);
      border-radius: 10px;
    }
  }
}
