footer {
  border-radius: 24px 24px 0px 0px;
  background-color: #161723;
  display: flex;
  padding-block: 4px;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  gap: 4px;
  margin-top: 24px;

  .main-line {
    display: flex;
    padding-inline: 16px;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 16px);
    p {
      color: white;
      font-family: JejuGothic;
      font-size: 12px;
    }
    h3 {
      display: none;
    }
    div {
      display: flex;
      align-items: center;
      gap: 8px;
      img {
        height: 20px;
        width: 20px;
      }
    }
  }

  .line {
    background-color: #fff;
    padding-block: 0px;
    width: 80vw;
    height: 1px;
    margin: 0;
    padding: 0;
    border: none;
  }

  h3 {
    color: #fff;
    text-align: center;
    font-family: JejuGothic;
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) {
  footer {
    .main-line {
      p {
        color: white;
        font-family: JejuGothic;
        font-size: 1rem;
      }
      h3 {
        display: initial;
        color: #fff;
        text-align: center;
        font-family: JejuGothic;
        font-size: 1rem;
      }
      div {
        img {
          height: 40px;
          width: 40px;
        }
      }
    }

    .line {
      display: none;
    }

    h3 {
      display: none;
    }
  }
}

@media screen and (min-width: 1040px) {
  footer {
    .main-line {
      p {
        color: white;
        font-family: JejuGothic;
        font-size: 1.5rem;
      }
    }
  }
}
